ipch/
*.vsp
*.suo
*.opensdf
*.sdf
*.ipch
*.psess
*.pdb
*.a
matlab runners/out_wild_clnf/
matlab runners/out_wild_clnf_wild/
matlab runners/out_wild_svr/
matlab runners/out_wild_svr_wild/
matlab_runners/out_wild_svr/
matlab_runners/out_wild_clnf/
matlab_runners/out_wild_clnf_wild/
matlab_runners/out_wild_svr_wild/
exe/MultiTrackCLM/Debug/
exe/MultiTrackCLM/Release/
lib/local/CLM/Debug/
lib/local/CLM/Release/
exe/Recording/Debug/
exe/SimpleCLM/Debug/
exe/SimpleCLMImg/Debug/
exe/Recording/Release/
exe/SimpleCLM/Release/
exe/SimpleCLMImg/Release/
/Debug/
/Release/
exe/SimplePuppets/Debug/
exe/SimplePuppets/Release/
exe/ConsolePuppets/Release/
lib/local/Puppets/Debug/
lib/local/Puppets/Release/
lib/3rdParty/dlib/Release/
lib/3rdParty/dlib/Debug/
exe/FeatureExtraction/Debug/
exe/FeatureExtraction/Release/
matlab_runners/demo_vid/
matlab_runners/demo_img/
lib/local/CLM_Interop/Release/
lib/local/OpenCVWrappers/Debug/
lib/local/CLM_Interop/Debug/
exe/CLM-framework-GUI/obj/
lib/local/OpenCVWrappers/Release/
exe/CLM-framework-GUI/bin/
lib/local/CamCom/Release/
lib/local/CamCom/Debug/
lib/local/FaceAnalyser/Release/
lib/local/FaceAnalyser/Debug/
matlab_runners/output_features/
matlab_runners/output_features_vid/
matlab_runners/output_features_seq/
CMakeFiles/
/bin/
Makefile
cmake_install.cmake
CMakeCache.txt
videos/images_track/
exe/Ophthalm-experiments/obj/
exe/Ophthalm-experiments/bin/
HeadPose_v4/
HeadPose_v4.zip
exe/HeadPose-file/obj/
HeadPose_v6/
exe/HeadPose-live/obj/
matlab_runners/FACS/
matlab_runners/yt_features/
matlab_runners/yt_features_clm/